.colored{
    background-color: #61d2f7;
}
#contact{
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}
#skills {
    padding:10px;
}
.h2-heading{
    color:white;
}
header {
	padding-top: 50rem;
	padding-bottom: 5.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/static/images/bg_image.png")  center center no-repeat;
	background-size: cover;
	text-align: center;
}
.p-heading{
    color: white;
}
.card{
    padding:10px;
    margin: 5px;
}
.h1-large{
    color: #fff
}
.white-section{
    margin-top: 15px;
    padding: 10px;
}
footer{
    text-align: center;
}