<!DOCTYPE html>
<html lang="en">
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- My Style -->
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark"style="background-color: #61D2F7;">
            <div class="container-fluid ">
              <a class="navbar-brand" href="#"><strong>Satyam</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('intro') }}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#skills">Skill</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                  </li>



                </ul>
              </div>
            </div>
          </nav>
           <!--End Navbar  -->
        <title>Satyam's Portfolio</title>
      </head>
      <body>
          <!-- Background DIV -->
        <header class="header">
            <!-- Background Image -->
          <a href="{{url_for('download')}}" target="_blank"><button class="btn btn-primary">Download CV</button></a>
        </header>
        <!-- Background Div Close -->
